@model List<ProductModel>

<div class="grid-in">
    @foreach (var item in Model)
    {
        <div class="col-md-4 grid-top">
            <a href="@Url.Action("Index", "Product", new { id = item.Id })" class="b-link-stripe b-animate-go thickbox">
                <img class="img-responsive" src="@item.Image.Path" alt="">
                <div class="b-wrapper">
                    <h3 class="b-animate b-from-left b-delay03 ">
                        <span>@item.Name</span>
                    </h3>
                </div>
            </a>
            <p><a href="@Url.Action("Index", "Product", new { id = item.Id })">@item.Name</a></p>
        </div>
    }
    <div class="clearfix"> </div>
</div>